
@media screen and (max-width: 1000px){
    #service{
        height: 130vh;
    }

    footer .container .box img {
        width: 150px;
    }

    footer .container .box ion-icon {
        padding: 0 7px;
        font-size: 1.3rem;
        color: #48186D;
    }
    footer .container .box p {
        font-size: .9rem;
        line-height: 22px;
    }
}



@media screen and (max-width: 830px) {
    header{
        background: url('img/responsivo\ bg.png') no-repeat;
        background-position: center;
    }

    header .container{
        justify-content: center;
    }

    header .chamada1{
        margin-top: -3rem;
    }

    header .chamada1 h3{
        font-size: 3.5rem;
    }
    header .chamada1 p{
        font-size: 1.5rem;
    }
    
    header .chamada1 button{
        font-size: 1rem;
    }


    #service{
        height: 120vh;

    }
    #service .container .text{
        max-width: none;
        text-align: center;
    }
    #about{
        height: 110vh;
    }
    #about .container .content{
      flex-direction: column;
    }
    #about .container .content .left{
        width: 100%;
        margin-top: 50px;
    }
    #about .container .content .left p{
        font-size: 1.1rem;
    }
    #about .container .content .right{
        width: 100%;
        margin-top: 110px;
        margin-bottom: 10px;
    }
    #about .container .content .right .box{
        height: 250px;
        width: 90%;
    }
    #about .container .right .box img{
        width: 300px;
        top: -50px;
    }
    #about .container .right .box h1{
      font-size: 1.4rem;
      top: -40px;
    }
    
    #about .container .right .box p{
        font-size: 1.1rem;
        top: -30px;
    }

    footer .container .box img {
        width: 130px;
    }

    footer .container .box ion-icon {
        padding: 0 7px;
        font-size: 1.3rem;
        color: #48186D;
    }
    footer .container .box p {
        font-size: .7rem;
        line-height: 22px;
    }



}

@media screen and (max-width: 768px){

	nav.desktop-menu{
		display:none;
	}

	nav.mobile-menu{
		display: block;
	}

	nav.mobile-menu ion-icon{
		display: block;
        margin-top: 20px;
        margin-right: 25px;
	}

    header .nav .box h1{
		font-size: 1rem;
	}

    header .chamada1{
        margin-top: -4rem;
    }

    header .chamada1 h3{
		font-size: 3.3rem;
	}

	header.chamada1 p{
		font-size: 1.2rem;
	}

	#service{
		height: 100vh;
	}

	#service .container .text{
		margin-top: 9vh;
	}

	#service .container .text h1{
		font-size: 1.9rem;
	}
	
	#service .container .text p{
		margin-top: 20px;
		font-size: 1rem;
		padding: 0 5px;
	}

    #service .container .call {
        height: 95px;
    }

	#service .container .call .box{
		width: 65%;
		margin-top: 20px;
	}

    #service .container .call .box img{
		width: 100px;
		position: relative;
		top: -4rem;
	}

    footer .container .box img {
        width: 130px;
    }

    footer .container .box ion-icon {
        padding: 0 7px;
        font-size: 1.3rem;
        color: #48186D;
    }
    footer .container .box p {
        font-size: .7rem;
        line-height: 22px;
    }


}

@media screen and (max-width: 568px){

    #about {
        height: 125vh;
    }

    #about .container .content .right .box {
        height: 280px;
        margin-top: 30px;
    }

    #contact {
        height: 115vh;
    }

    header .contact .box h1{
        font-size: .8rem;
        text-align: center;
    }

    header .contact .box p{
        font-size: .7rem;
    }

    header .chamada1{
        margin-top: -9rem;
    }

    #service {
        height: 120vh;
    }

    #service .container .title p {
        letter-spacing: 3px;
        text-align: center;
    }

    #service .container .text {
        margin-top: 5vh;
    }

    #service .container .call {
        height: 95px;
    }

    #service .container .call .box img {
        width: 95px;
        top: -50px;
    }

    #service .container .call .box h2 {
        font-size: 1.2rem;
    }

    #service .container .call .box button {
        margin-top: 11px;
        font-size: .8rem;
    }

    #about {
        height: 150vh;
    }

    #about .container .title {
        height: 160px;
    }

    #about .container .title p {
        font-size: 1.1rem;
        letter-spacing: 3px;
        text-align: center;
    }

    #about .container .content .left {
        margin-top: 9rem;
    }

    #about .container .content .right {
        margin-top: 9rem;
    }

    #about .container .content .right .box {
        height: 280px;
        margin-top: 30px;
    }


    #about .container .right .box p {
        font-size: .9rem;
        top: -30px;
    }

    #contact .container .title p {
    letter-spacing: 3px;
    text-align: center;
    }

    #contact .container .content form h2{
        text-align: center;
    }
   
    footer .container .box img {
        width: 90px;
    }

    footer .container .box ion-icon {
        padding: 0 7px;
        font-size: 1.3rem;
        color: #48186D;
    }
    footer .container .box p {
        font-size: .8rem;
        line-height: 22px;
    }

    .esconde{
        display: none;
    }

}